@font-face {
    font-family: 'Yekan';
    src: url('assets/fonts/BYekan.woff2') format('woff2'),
    url('assets/fonts/BYekan.woff') format('woff'),
    url('assets/fonts/Yekan.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Yekan';
    background-color: #eee;
}
header{
    background-color: white;
    box-shadow: 0 0 5px  darkgrey;


}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}
.main-nav .nav-right{
    display: flex;
}
.main-nav .nav-right ul{
    display: flex;
}
.main-nav .nav-right ul li{
    padding-right: 20px;
}
.main-nav .nav-right ul li a{
    font-size: 1.1rem;
    color: darkgray;

}
.main-nav .nav-right ul li a:hover{
    border-bottom: 2px solid darkgoldenrod;
}
.main-nav .nav-left{}
.main-nav .nav-left a{
    color: darkgray;
    padding-right: 20px;
    font-size: 1.1rem;
}
.main-nav .nav-left a i{
    padding: 10px;
    transition: all 0.6s ease;
}
.main-nav .nav-left a i:hover{
    background-color: darkslategray;
    border-radius: 30px;
    color: white;
}

.swiper-slide{
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex !important;
    align-items: center;
    height: 500px !important;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}
.swiper-slide img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}
.wrap-desc{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    color:#fff;
    position: absolute;
}

.wrap-desc h2{
    font-size: 50px;
    font-weight: bold;
}
.wrap-desc p{
    font-size: 25px;
    margin-top: 30px;
}
.btn-slider{
    width: 70px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    padding: 9px 15px;
    margin-top: 30px;
    border-radius: 10px;
    transition: all 0.6s ease;
    text-align: center;

}
.btn-slider:hover{
    background-color: rgba(0,0,0,0.8);
}
.swiper-button-next,.swiper-button-prev{
    color: #fff !important;
}
/* product new */


.wrap-products-new{

}
.wrap-products-new .wrap-products-new-title{
    display: flex;
    align-items: center;
}
.wrap-products-new .wrap-products-new-title h2{
    margin-right: 25px;
}
.cards-product-new{
    display: flex;
    justify-content: space-between;

}
.cards-product-new .card-product-new{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 5px darkgrey;
    width: 250px;
    border-radius: 10px;



}
.card-img-product-new{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}
.card-img-product-new img{
    width: 150px;


}
.card-product-new h3{
    color:#575757;
    text-align: center;
    padding: 20px 0;

}
.card-img-product-new span{
    position: absolute;
    right: 2px;
    font-size: 0.9rem;
    background: brown;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
}
.card-product-new .title{

}
.card-btn-price{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.card-btn-price a{
    font-size: 0.8rem;
    color:#575757;
}
.card-btn-price .btn-compare{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    padding: 7px 5px;
    border-radius: 10px;
}
.card-btn-price .btn-like{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,0,0,0.4);
    padding: 7px 5px;
    border-radius: 10px;
}
.card-btn-price .btn-compare span,.card-btn-price .btn-like span{
    margin-right: 6px;
}
.card-btn-price .btn-like i{
    color: red;
}
.card-btn-price .price{
    color: #575757;
    font-size: 0.9rem;
}
.btn-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}